{% extends 'app/dummy.html' %}

{% block title %}
    <title>Create Html</title>

{% endblock %}


{% block body_block %}

{% if form.instance.pk %}
<h1>Update a school</h1>
            
{% else %}
<h1>create a school</h1>

{% endif %}

    
    <form method="POST">
        {% csrf_token %}

        {{form.as_p}}

        {% if form.instance.pk %}
            
        <input type="submit" value="Update" class="'btn btn-success">
        {% else %}
        <input type="submit" value="Create" class="'btn btn-success">
        {% endif %}

    </form>

{% endblock %}







